.wrapper {
    margin-top: 100px;
    display: flex;
}

.image {
    min-width: 600px;
    min-height: 600px;
    max-width: 600px;
    max-height: 600px;
    margin-right: 50px;
}

.title {
    font-family: 'Eudoxus Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    margin-top: 32px;
    margin-bottom: 10px;
}

.category {
    font-family: 'Eudoxus Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #AFADB5;
    margin-bottom: 30px;
}

.color {
    margin-bottom: 20px;
}

.description {
    font-family: 'Eudoxus Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #AFADB5;
    margin-bottom: 30px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.price {
    font-family: 'Eudoxus Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
}

.buttonsWrapper {
    margin-top: 50px;
    display: flex;
}

.buyButton {
    width: 285px;
    margin-right: 20px;
}

.addToChartButton {
    width: 285px;
    border: 2px solid #F3F3F3;
    background: none;
}

.addToChartButton>div {
    color: #151411;
}