.dropdown_form {
    width: 190px;
}

.options_wrapper {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 191px;
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    color: black;
}

.dropdown_wrapper {
    width: 190px;
    height: 84px;
    color: black;
    text-align: center;
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_wrapper:hover {
    border: 1px solid #518581;
}

.dropdown_option_wrapper {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}